:root {
    --primary-color: #1d1b1b;
    --secondary-color: #070707;
    --background-color: #312f2f;
    --button-color: #0a0a0a;
    --extra-color: #f7f7f7;

    --text-color: #FAFAFA;
    --primary-font: "Roboto", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: none;
}
